.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 343px;
    margin-top: 7.5rem;
    padding: 2.5rem 1.5rem;
    padding-bottom: 0;
    border-radius: 0.625rem;
    background-color: var(--dark-grayish-blue);
    box-shadow: 25px 40px 65px 40px hsla(218, 23%, 15%, 0.3);
}

.advice-number {
    margin-left: 0.1875rem;
    margin-bottom: 1.5625rem;
    color: var(--neon-green);
    font-size: 0.6875rem;
    letter-spacing: 3.5px;
}

.advice-text {
    margin-bottom: 1.1875rem;
    color: var(--light-cyan);
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.375;
    letter-spacing: -0.325px;
}

.divider {
    margin-bottom: -0.25rem;
}

.button {
    position: relative;
    top: 2rem;
    left: -0.0625rem;
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 50%;
    background-color: var(--neon-green);
}

.button img {
    position: relative;
    top: 0.0625rem;
}

@media screen and (min-width: 33.75em) {
    .main {
        width: 540px;
        margin-top: 0;
        margin-bottom: 2rem;
        padding: 3.0625rem 2.5rem;
        padding-bottom: 0;
        border-radius: 0.9375rem;
    }

    .advice-number {
        margin-bottom: 1.5rem;
        font-size: 0.8125rem;
        letter-spacing: 4px;
    }

    .advice-text {
        margin-bottom: 2.4375rem;
        font-size: 1.75rem;
        line-height: 1.365;
    }

    .divider {
        margin-bottom: 0.25rem;
    }

    .button {
        left: 0;
    }

    .button img {
        top: 0.125rem;
    }
}